.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  padding: 0 12px;
  border-radius: 6px;
  height: 30px;
  cursor: pointer;
}

.button:hover {
  border: 1px solid white;
  background-color: gray;
}
