.todo-item {
  display: flex;
  align-items: center;
  height: 65px;
  gap: 12px;
  padding: 0 12px;
}

.todo-item:hover {
  background-color: rgba(39, 39, 42, 0.5);
}

.todo-item.active {
  background-color: rgb(39, 39, 42);
}

.text {
  flex-grow: 1;
}

.todo-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: black;
}

.todo-button:hover {
  background-color: gray;
}
